body {
  margin: 0;
  padding: 0;
}


#app {
  background: url(./snow_bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}


.snow {
  background: url("./snow.png");
  height: 100%;
  opacity: 0.3;
  animation: snowing 10s infinite linear;
}

@keyframes snowing {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100px 700px;
  }
}
